.profile-card {
  position: absolute;
  width: 40rem;
  background-color: white;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-div img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 101;
}

.img-div p {
  font-weight: bolder;
  margin-top: 15px;
}

.profile-card-information {
  width: 100%;
  /* background-color: brown; */
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px lightgray;
}

.div {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.id-div {
  /* background-color: bisque; */
}

.h4 {
  margin: 0px 30px 0px 30px;
}

.icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 35px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}

/* ////////////////////////////////////////////////// */

.error-message-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(red, green, blue, alpha); */
  background-color: white;
  flex-direction: row;
  width: 25rem;
  padding: 20px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  font-family: LatoRegular;
  font-size: 15px;
  transition: 0.5;
}

/* #03A9F4  */
.icon-exc-div {
  margin-right: 20px;
}

.icon-exc {
  font-size: 20px;
  background-color: red;
  border-radius: 50%;
  border: none;
  color: white;
}

.error-close {
  font-size: 25px;
}
