@media screen and (max-width: 750px) {
  .main-div {
    top: 50%;
  }

  /* /////////////////////////////////// */

  .main-heading-div {
    width: 30rem;
    top: 15%;
  }

  .main-heading-div h1 {
    line-height: 40px;
    font-size: 30px;
  }

  input {
    width: 30rem;
    height: 50px;
    font-size: 18px;
  }

  .bubble-icon {
    font-size: 35px;
    top: 18px;
  }

  .spinner {
    top: 20px;
  }

  .icon {
    top: 23px;
    font-size: 25px;
  }

  /* ////////////////////////////////////////////////////////
      //////////////////////////////////////////////////////////// */

  .profile-card-main-div {
    flex-wrap: wrap;
    width: 90%;
  }

  .profile-left {
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-img-div {
    width: 13em;
    margin: 10px 0px 0px 0px;
  }

  .profile-img-div img {
    width: 120px;
    height: 120px;
  }

  .biography-heading-div {
    width: 10em;
  }

  .biography-heading-div h2 {
    display: inline-block;
  }

  .biography-heading-div p {
    display: inline-block;

    width: 10em;
  }

  .profile-right {
    width: 100%;
    margin-left: 0px;
    padding: 30px 30px;
  }

  .personal-information-div {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .personal-information-divs {
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
    width: 8em;
  }

  .round-div {
    margin: 0px 0px 15px 0px;
  }

  .info-name {
    margin-bottom: 10px;
    text-align: center;
  }

  .info-name-lable {
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  .main-heading-div {
    width: 25rem;
    top: 10%;
  }

  .main-heading-div h1 {
    font-size: 28px;
  }

  input {
    width: 25rem;
    font-size: 16px;
  }

  #top-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .information-box {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 490px) {
  .profile-card-main-div {
    top: 75%;
  }

  @keyframes goDown {
    from {
      top: 0%;
      left: 50%;
    }

    to {
      top: 75%;
      left: 50%;
    }
  }

  .personal-information-div {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .personal-information-divs {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
    margin: 10px;
    padding: 10px;
    width: 100%;
  }

  .round-div {
    width: 70px;
    height: 70px;
    font-size: 25px;
  }

  .info-name {
    font-size: 20px;
  }

  .info-name-lable {
    font-size: 16px;
  }
}

@media screen and (max-width: 490px) {
  .main-div {
  }

  /* /////////////////////////////////// */

  input {
    width: 20rem;
    height: 40px;
    font-size: 16px;
  }

  .main-heading-div {
    width: 20rem;
    top: 15%;
  }

  .main-heading-div h1 {
    font-size: 22px;
    line-height: 25px;
  }

  .bubble-icon {
    font-size: 25px;
    top: 18px;
  }

  .spinner {
    top: 17px;
    font-size: 25px;
  }

  .icon {
    top: 20px;
    font-size: 20px;
  }

  /* ////////////////////////////////////////////////////////
          //////////////////////////////////////////////////////////// */

  .profile-card-main-div {
    flex-wrap: wrap;
    top: 75%;
    width: 90%;
  }

  @keyframes goDown {
    from {
      top: 0%;
      left: 50%;
    }

    to {
      top: 75%;
      left: 50%;
    }
  }

  .error-message-div {
    width: 20rem;
    padding: 10px;
    top: 5%;
    font-size: 14px;
  }

  .error-p-div {
    width: 15em;
  }

  .icon-exc-div {
    margin-right: 20px;
    display: inline-block;
  }

  .icon-exc {
    font-size: 20px;
  }

  .error-p {
    width: 15em;
  }

  .error-close-div {
    display: inline-block;
  }

  @keyframes popUp {
    from {
      top: 0%;
      left: 50%;
    }

    to {
      top: 5%;
      left: 50%;
    }
  }
}

@media screen and (max-width: 350px) {
  .main-div {
    top: 60%;
  }

  /* /////////////////////////////////// */

  input {
    width: 15rem;
    height: 35px;
    font-size: 14px;
    padding: 0px 30px 0px 40px;
  }

  .main-heading-div {
    width: 15rem;
  }

  .bubble-icon {
    font-size: 22px;
    top: 17px;
  }

  .spinner {
    top: 16px;
    font-size: 22px;
  }

  .icon {
    top: 20px;
    left: 20px;
    font-size: 18px;
  }

  /* ////////////////////////////////////////////////////////
              //////////////////////////////////////////////////////////// */

  .personal-information-div {
    margin: 0px;
  }

  .error-message-div {
    width: 15rem;
    padding: 10px;
    top: 5%;
    font-size: 11px;
  }

  .error-p-div {
    width: 15em;
  }
}
