.main-div {
  flex-direction: row;
}

.profile-image-div img {
  width: 130px;
  margin: 0px 20px 0px 20px;
}

.profile-image-div-pic {
  width: 130px;
  height: 130px;
  margin: 20px 20px 15px 20px;
}

.profile-image-div h4 {
  font-size: 14px;
}

h5 {
  font-size: 10px;
}

.photo-btn {
  font-size: 10px;
}

.register-btn {
  width: 15em;
  height: 22px;
  font-size: 10px;
}

.margin-left {
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-size: 18px;
  margin-top: 15px;
}

h6 {
  font-size: 8px;
}

.location-icon {
  font-size: 11px;
}

.inputs-divs {
  margin: 0px 10px 0px 0px;
}

.inputs-divs p {
  font-size: 10px;
}

.inputs-divs input {
  width: 10em;
  height: 24px;
  padding: 0em 1em 0em 1em;
  font-size: 8px;
}

.kankor-id-div input {
  width: 10em;
}

.kankor-year-div input {
  width: 9em;
}

.addmission-div input {
  width: 10em;
}

.dob-div input {
  width: 15em;
}

.date-input {
  padding: 0em 0em 0em 6em;
  /* text-align: center; */
}

.personal-information {
  margin: 20px 0px 10px 0px;
}

.province-div input {
  width: 10em;
}

.division-div input {
  width: 9em;
}

.district-div input {
  width: 9em;
}
/* ///////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */

.otp-div {
  padding: 20px;
}

.opt-icon {
  top: 20px;
  right: 20px;
  font-size: 20px;
}

.otp-heading {
  font-size: 18px;
  margin: 20px 0px 5px 0px;
}

.otp-p {
  font-size: 12px;
  margin-bottom: 30px;
}

.otp-inputs-div input {
  width: 55px;
  height: 60px;
  font-size: 25px;
  margin: 5px;
}

.otp-inputs-div {
  margin-bottom: 40px;
}

.otp-button {
  width: 420px;
  height: 35px;
  margin-bottom: 20px;
  font-size: 12px;
}

.spinner-2 {
  font-size: 16px;
}

.error-message-div {
  width: 20rem;
  padding: 10px;
  top: 5%;

  font-size: 12px;
}

.icon-exc-div {
  margin-right: 5px;
}

.icon-exc {
  font-size: 18px;

  border-radius: 50%;
  border: none;
  color: white;
  position: absolute;
  top: 9px;
  left: 10px;
}

.error-p {
}

.error-close {
  top: 10px;
  right: 20px;
  font-size: 18px;
}

@keyframes popUp {
  from {
    top: 0%;
    left: 50%;
  }

  to {
    top: 5%;
    left: 50%;
  }
}
