* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: LatoBold;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: LatoRegular;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: LatoLight;
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: LatoBlack;
  src: url(../fonts/Lato-Black.ttf);
}

body {
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  /* background: url(../image/Searchs_127.png); */
  background-size: cover;
  font-family: LatoRegular;
  background-repeat: no-repeat;
  height: 100vh;
}

.main-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1140px;
  margin: 0 auto;
  /* background-color: antiquewhite; */
  padding: 10px;
}

/* /////////////////////////////////// */

.main-heading-div {
  /* background-color: aliceblue; */
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-heading-div h1 {
  text-align: center;
  line-height: 50px;
  font-family: LatoBold;
  font-size: 35px;
  color: white;
}

/* /////////////////////////////////// */

/* ////////////////////////// */
/* Search Input */
/* /////////////////// */

input {
  width: 40rem;
  height: 60px;
  padding: 0px 60px 0px 60px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  font-family: LatoRegular;
  color: rgb(70, 70, 70);
  /* outline-color: #8ac185; */
  outline: none;
}

.bubble-icon {
  font-size: 40px;
  position: absolute;
  top: 21px;
  right: 20px;
  color: rgb(70, 70, 70);
  background-color: #8ac185;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

/* .bubble-icon:hover {
  box-shadow: 0px 0px 10px 5px lightgray;
} */

.bubble-icon:active {
  /* box-shadow: 0px 0px 10px 5px lightgray; */
  transform: scale(0.8);
}

.icon {
  position: absolute;
  left: 25px;
  top: 27px;
  font-size: 30px;
  /* color: rgb(19, 129, 255); */
  color: #3a7bd5;
}

.spinner {
  position: absolute;
  right: 25px;
  top: 27px;
  font-size: 30px;
  animation-name: loader;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ////////////////////////// */
/* Search Input result */
/* /////////////////// */

.result-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  border-radius: 3px;

  color: rgb(71, 71, 71);
}

#top-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;

  border-radius: 3px;
  padding: 10px 0px;
}

.information-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: flex-start;
  padding: 10px 10px;
}

.information-box h4 {
  padding: 10px;
}

.first-heading {
  border-bottom: 1px gray solid;
  font-size: 14px;

  font-family: LatoRegular;
}

.second-heading {
  font-size: 12px;
  font-family: LatoRegular;
}

.result-bottom-box {
  display: flex;
  justify-content: flex-end;
}

.profile {
  border: none;
  margin-top: 10px;
  width: 120px;
  height: 30px;
  border-radius: 3px;
  font-family: LatoRegular;
  font-weight: bolder;
  color: rgb(71, 71, 71);
  background-color: white;
  cursor: pointer;
}
