* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: SpaceMonoBold;
  src: url(../fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: SpaceMonoRegular;
  src: url(../fonts/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: SpaceMonoBoldItalic;
  src: url(../fonts/SpaceMono-BoldItalic.ttf);
}

@font-face {
  font-family: SpaceMonoitalic;
  src: url(../fonts/SpaceMono-Italic.ttf);
}

body {
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  /* background: url(../image/Searchs_127.png); */
  background-size: cover;
  font-family: SpaceMonoRegular;
  background-repeat: no-repeat;
  height: 100vh;
}

.main-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1140px;
  margin: 0 auto;
  /* background-color: antiquewhite; */
  padding: 10px;
}

/* ////////////////////////// */
/* Search Input */
/* /////////////////// */

input {
  width: 700px;
  height: 60px;
  padding: 0px 60px 0px 40px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  font-family: SpaceMonoRegular;
  /* outline: ; */
}

.icon {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 35px;
  /* color: rgb(19, 129, 255); */
  color: #3a7bd5;
}

/* ////////////////////////// */
/* Search Input result */
/* /////////////////// */

.result-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(21, 21, 21); */
  border-radius: 3px;
  /* padding: 5px; */
  color: rgb(71, 71, 71);
  /* color: rgb(202, 202, 202); */
}

#top-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  /* margin-top: 10px; */
  /* background-color: rebeccapurple; */
  /* background-color: rgba(21, 21, 21, 0.902); */

  border-radius: 3px;
  padding: 10px 0px;
}

.information-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: space-between; */
  align-items: flex-start;
  padding: 10px 10px;
  /* background-color: blueviolet; */
}

.information-box h4 {
  padding: 10px;
}

.first-heading {
  border-bottom: 1px gray solid;
  font-size: 14px;
  /* font-family: SpaceMonoBold; */
  font-family: monospace;
}

.second-heading {
  font-size: 12px;
  font-family: monospace;
}

.result-bottom-box {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: flex-end;
}

.profile {
  border: none;
  margin-top: 10px;
  width: 120px;
  height: 30px;
  border-radius: 3px;
  font-family: monospace;
  font-weight: bolder;
  color: rgb(71, 71, 71);
  background-color: white;
}
