
.menu-item{
    text-decoration: none;
    color: #333;
}

.main-section{
    background-color: #F5F6FA !important;
    height: 100vh;
}

.MuiToolbar-root {
    background-color: #354E57 !important;
}