.image{
    width: 100px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    left: 590px;
    top: 125px;

}
.view_profile_image{
    width: 100px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    left: 300px;
   
    

}